body{
    background: url("img/tim-mossholder-07uiqD9LS6U-unsplash.jpg")no-repeat center center fixed ;
    background-size: cover;
    font-family: sans-serif;

    
}
.container{
    width: 35%;
    margin: auto;
    overflow: hidden;
    padding: 1rem;
    background-color: rgb(255, 255, 255, .4);
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    border-radius: 10px;
}
hr{
    width: 80%;
}
.blue{
    padding: .5rem;
    background:#4267B2;
    color:white;
    border-radius: 10px;
    border: none;
    
}
.green{
    padding: .5rem;
    background:green;
    color:white;
    border-radius: 10px;
    border: none;
}
a{
    text-decoration: none;
}
.container input{
    padding: .3rem;
    width:50%;
}
.container input[type=checkbox]{
   width: auto;
}
